/* dashboard.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: #f4f4f9;
}

.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.main-content {
    flex: 1;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.charts {
    display: grid;
    grid-template-columns: 1fr; /* Cambiado a una sola columna */
    gap: 20px;
}

.chart-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.chart-container.pie {
    aspect-ratio: 16 / 9;
}

.chart-container.bar {
    width: 80%;
    height: 800px; /* Altura fija para la gráfica de barras */
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

